Package: dev.water888.ytmusicultimateplus
Name: YTMusicUltimatePlus
Version: 1.0.0
Architecture: iphoneos-arm
Description: YouTube Music Premium with more features!
Maintainer: Tonwalter888
Author: Tonwalter888
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 13.0)
